@import 'bootstrap.min.css';
@import 'bootstrap-theme.css';
@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
@import 'navigation';
@import 'home';
@import 'colors';
@import 'padding';
@import 'margin';
@import 'headers';
@import 'textSize';
@import 'modalForms';
@import 'userProfile';
@import 'userFeed';
@import 'hallOfFame';
@import 'whiteNoise';
@import 'postTemplate';
@import 'hover';
@import 'about';
@import 'modalRegister';


.floatLeft {
  float: left;
}
.clear-fix {
  clear: both;
}
/*!Any classes in layout*/
.learn-more {
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
}



html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  font-family: 'Lato', sans-serif !important;
}
