/*Begin header values at different widths*/
h1 {
  font-weight: 500;
  font-size: 14px !important;
  line-height: 16px !important;
  padding: 0px !important;
  margin: 0px !important;
}
@media (min-width: 768px) {
  h1 {
    font-size: 17px !important;
    line-height: 19px !important;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 20px !important;
    line-height: 22px !important;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 23px !important;
    line-height: 25px !important;
  }
}
h2 {
  font-weight: 500;
  font-size: 17px !important;
  line-height: 19px !important;
  padding: 0px !important;
  margin: 0px !important;
}
@media (min-width: 768px) {
  h2 {
    font-size: 20px !important;
    line-height: 22px !important;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 23px !important;
    line-height: 25px !important;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}
h3 {
  font-weight: 500;
  font-size: 20px !important;
  line-height: 22px !important;
  padding: 0px !important;
  margin: 0px !important;
}
@media (min-width: 768px) {
  h3 {
    font-size: 23px !important;
    line-height: 25px !important;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 28px !important;
    line-height: 30px !important;
  }
}
h4 {
  font-weight: 500;
  font-size: 23px !important;
  line-height: 25px !important;
  padding: 0px !important;
  margin: 0px !important;
}
@media (min-width: 768px) {
  h4 {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}
@media (min-width: 992px) {
  h4 {
    font-size: 28px !important;
    line-height: 30px !important;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 31px !important;
    line-height: 33px !important;
  }
}
h5 {
  font-weight: 500;
  font-size: 35px !important;
  line-height: 33px !important;
  padding: 0px !important;
  margin: 30px !important;
}
@media (min-width: 768px) {
  h5 {
    font-size: 38px !important;
    line-height: 36px !important;
  }
}
@media (min-width: 992px) {
  h5 {
    font-size: 41px !important;
    line-height: 39px !important;
  }
}
@media (min-width: 1200px) {
  h5 {
    font-size: 47px !important;
    line-height: 45px !important;
  }
}

/*End header values at different widths*/
