/*Margin class values that can be reused*/
.margin-xs {
  margin: 5px;
}
.margin-sm {
  margin: 10px;
}
.margin-md {
  margin: 15px;
}
.margin-lg {
  margin: 20px;
}
.margin-xl {
  margin: 30px;
}
.margin-xxl {
  margin: 60px !important;
}
.marginHorizontal-xs {
  margin-left: 5px;
  margin-right: 5px;
}
.marginHorizontal-sm {
  margin-left: 10px;
  margin-right: 10px;
}
.marginHorizontal-md {
  margin-left: 15px;
  margin-right: 15px;
}
.marginHorizontal-lg {
  margin-left: 20px;
  margin-right: 20px;
}
.marginHorizontal-xl {
  margin-left: 30px;
  margin-right: 30px;
}
.marginHorizontal-xxl {
  margin-left: 60px !important;
  margin-right: 60px !important;
}
.marginVertical-xs {
  margin-top: 5px;
  margin-bottom: 5px;
}
.marginVertical-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.marginVertical-md {
  margin-top: 15px;
  margin-bottom: 15px;
}
.marginVertical-lg {
  margin-top: 20px;
  margin-bottom: 20px;
}
.marginVertical-xl {
  margin-top: 30px;
  margin-bottom: 30px;
}
.marginVertical-xxl {
  margin-top: 60px;
  margin-bottom: 60px;
}
.marginLeft-xs {
  margin-left: 5px;
}
.marginLeft-sm {
  margin-left: 10px;
}
.marginLeft-md {
  margin-left: 15px;
}
.marginLeft-lg {
  margin-left: 20px;
}
.marginLeft-xl {
  margin-left: 30px;
}
.marginLeft-xxl {
  margin-left: 60px;
}
.marginRight-xs {
  margin-right: 5px;
}
.marginRight-sm {
  margin-right: 10px;
}
.marginRight-md {
  margin-right: 15px;
}
.marginRight-lg {
  margin-right: 20px;
}
.marginRight-xl {
  margin-right: 30px;
}
.marginRight-xxl {
  margin-right: 60px !important;
}
.marginTop-xs {
  margin-top: 5px;
}
.marginTop-sm {
  margin-top: 10px;
}
.marginTop-md {
  margin-top: 15px !important;
}
.marginTop-lg {
  margin-top: 20px;
}
.marginTop-xl {
  margin-top: 30px;
}
.marginTop-xxl {
  margin-top: 60px !important;
}
.marginBottom-xs {
  margin-bottom: 5px;
}
.marginBottom-sm {
  margin-bottom: 10px;
}
.marginBottom-md {
  margin-bottom: 15px;
}
.marginBottom-lg {
  margin-bottom: 20px;
}
.marginBottom-xl {
  margin-bottom: 30px;
}
.marginBottom-xxl {
  margin-bottom: 60px !important;
}
/*End margin class values*/
