//Sass for the navigation
nav {
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 1025;
  margin: 0 !important;
  border-radius: 0px !important;
}

.navbar {
  padding-right: 30px;
  padding-left: 10px;
  border: 0px !important;
}
