/*Padding class values that cen be reused*/
.removePadding {
  padding: 0px !important;
}
.padding-xs {
  padding: 5px;
}
.padding-sm {
  padding: 10px;
}
.padding-md {
  padding: 15px;
}
.padding-lg {
  padding: 20px;
}
.padding-xl {
  padding: 30px !important;
}
.padding-xxl {
  padding: 60px !important;
}
.paddingHorizontal-xs {
  padding-left: 5px;
  padding-right: 5px;
}
.paddingHorizontal-sm {
  padding-left: 10px;
  padding-right: 10px;
}
.paddingHorizontal-md {
  padding-left: 15px;
  padding-right: 15px;
}
.paddingHorizontal-lg {
  padding-left: 20px;
  padding-right: 20px;
}
.paddingHorizontal-xl {
  padding-left: 30px;
  padding-right: 30px;
}
.paddingHorizontal-xxl {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.paddingVertical-xs {
  padding-top: 5px;
  padding-bottom: 5px;
}
.paddingVertical-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.paddingVertical-md {
  padding-top: 15px;
  padding-bottom: 15px;
}
.paddingVertical-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingVertical-xl {
  padding-top: 30px;
  padding-bottom: 30px;
}
.paddingVertical-xxl {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.paddingLeft-xs {
  padding-left: 5px;
}
.paddingLeft-sm {
  padding-left: 10px;
}
.paddingLeft-md {
  padding-left: 15px;
}
.paddingLeft-lg {
  padding-left: 20px;
}
.paddingLeft-xl {
  padding-left: 30px;
}
.paddingLeft-xxl {
  padding-left: 60px !important;
}
.paddingRight-xs {
  padding-right: 5px;
}
.paddingRight-sm {
  padding-right: 10px;
}
.paddingRight-md {
  padding-right: 15px;
}
.paddingRight-lg {
  padding-right: 20px;
}
.paddingRight-xl {
  padding-right: 30px;
}
.paddingRight-xxl {
  padding-right: 60px !important;
}
.paddingTop-xs {
  padding-top: 5px;
}
.paddingTop-sm {
  padding-top: 10px;
}
.paddingTop-md {
  padding-top: 15px;
}
.paddingTop-lg {
  padding-top: 20px;
}
.paddingTop-xl {
  padding-top: 30px;
}
.paddingTop-xxl {
  padding-top: 60px !important;
}
.paddingBottom-xs {
  padding-bottom: 5px;
}
.paddingBottom-sm {
  padding-bottom: 10px;
}
.paddingBottom-md {
  padding-bottom: 15px;
}
.paddingBottom-lg {
  padding-bottom: 20px;
}
.paddingBottom-xl {
  padding-bottom: 30px;
}
.paddingBottom-xxl {
  padding-bottom: 60px !important;
}
/*End padding classes*/
