.postContainer {
  background-color: #ffffff;
  padding: 0px !important;
}


.postTop.col-xs-12{
  height: 50px;
  background-color: #333333;
  padding-left: 0px;
  padding-right: 0px;
}

.postImage.col-xs-12{
  height: 250px;
}

.postFooter.col-xs-12{
  height: 50px;
  background-color: #333333;
}

.profilePicPosts {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
}
