.postContainer {
  // background-color: #ffffff;
  padding: 0px !important;
}


.postTop{
  height: 50px;
  background-color: #333333;
  padding-left: 0px;
  padding-right: 0px;
}

.postImage {
  padding: 0px;
}

.postFooter {
  height: 50px;
  background-color: #333333;
}

.profilePicPosts {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
}
