extends layout
block main
  .row
    .about-container.backgroundPrimary-color.col-xs-12.textPrimary-white.paddingBottom-xl
      .about-text.col-xs-11.col-xs-offset-1.col-sm-5.col-sm-offset-1.marginBottom-xl
        h4 About Team Lovelace
        p.paddingTop-lg Team Lovelace formed at General Assembly in the Summer of 2015. It consists of Courtney Sadusky, Breanne Duffy, and Peter Masucci who are awesome.
        p.paddingTop-ld.paddingBottom-xl Ada Lovelace is our hero.
        h4.paddingTop-xl About Nope Don't Care
        div.btn-group-lg(role="group" aria-label="...")
          button#nope-button.btn(type="button") click me
        div#nope-gif.margin-xl
          img(src="/images/nope.gif")
      .about-image.col-xs-11.col-xs-offset-1.col-sm-5.col-sm-offset-0.col-md-5.col-md-offset-1
        img(src="/images/306px-Ada_Lovelace.svg.png")
