extends layout
block main
  .row
    .home-hero.textPrimary-white.backgroundPrimary-color.col-xs-12
      .logo.col-xs-3.col-xs-offset-4
        .awesome-background.faa-float.animated.faa-fast
        i.fa.fa-thumbs-o-down.faa-float.fa-4x.animated.faa-fast
      .logo-text.col-xs-12
        h5 <strong>Nope</strong> Don't Care
        h1 An anti-social network.
        h1 Because you can't like everything.
        button.btn.textPrimary-white.backgroundSecondary-color(type="submit") Sign in with Facebook (#hateit)
    .home-about.col-xs-12.padding-xl
      .home-about-title.col-xs-12.marginBottom-lg.marginTop-md
        h3 About <strong>Nope</strong> Don't Care
      .home-about-icon.col-xs-6.col-md-3.padding-xl.faa-parent.animated-hover
        i.fa.fa-camera-retro.fa-4x.paddingBottom-lg.faa-pulse.faa-show
        h1 Post vexatious pictures
      .home-about-icon.col-xs-6.col-md-3.padding-xl.faa-parent.animated-hover
        i.fa.fa-fighter-jet.fa-4x.paddingBottom-lg.faa-passing.faa-show.faa-show
        h1 Follow likeminded frenemies
      .home-about-icon.col-xs-6.col-md-3.padding-xl.faa-parent.animated-hover
        i.fa.fa.fa-thumbs-o-down.fa-4x.paddingBottom-lg.faa-float.faa-fast
        h1 Dislike/comment on posts
      .home-about-icon.col-xs-6.col-md-3.padding-xl.faa-parent.animated-hover
        i.fa.fa-bomb.fa-4x.paddingBottom-lg.faa-tada.faa-show
        h1 View most vexatious posts
