.container.col-xs-12
  //- .h2 Modal Example
  //- button#modal-button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#myModal") Open Modal
  div#myPostModal.modal.fade(role="dialog")
    div.modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal")&times;
          h4.modal-title Modal Header
        .modal-body
          p Some text in the modal
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
