.container
  //- .h2 Modal Example
  //- button#modal-button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#myModal") Open Modal
  div#signInModal.modal.fade(role="dialog")
    div.modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Sign In
        .modal-body
          input#username.form-input.form-control.input-lg(required data-parsley-minlength="2" data-parsley-trigger="focusout" type="text" placeholder="username")
          input#password.form-input.form-control.input-lg(required data-parsley-minlength="2" data-parsley-trigger="focusout" type="text" placeholder="password")
        .modal-footer
          button#cancelButton.btn-lg.modalButton.textPrimary-black(type="button" data-dismiss="modal") Cancel
          button.btn-lg.modalButton.textPrimary-white(type="button" data-dismiss="modal") Sign In
