.container
  //- .h2 Modal Example
  //- button#modal-button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#myModal") Open Modal
  div#signUpModal.modal.fade(role="dialog")
    div.modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Register
        .modal-body
          input#name.form-input.form-control.input-lg(required data-parsley-minlength="2" data-parsley-trigger="focusout" type="text" placeholder="name")
          input#email.form-input.form-control.input-lg(required data-parsley-minlength="2" data-parsley-trigger="focusout" type="text" placeholder="email")
          input#username.form-input.form-control.input-lg(required data-parsley-minlength="2" data-parsley-trigger="focusout" type="text" placeholder="username")
          input#password.form-input.form-control.input-lg(required data-parsley-minlength="2" data-parsley-trigger="focusout" type="text" placeholder="password")
          input#phonenumber.form-input.form-control.input-lg(required data-parsley-minlength="2" data-parsley-trigger="focusout" type="text" placeholder="phone number")
          input#bio.form-input.form-control.input-lg(required data-parsley-minlength="2" data-parsley-trigger="focusout" type="text" placeholder="bio")
        .modal-footer
          button#cancelButton.btn-lg.modalButton.textPrimary-black(type="button" data-dismiss="modal") Cancel
          button#signUpButton.btn-lg.modalButton.textPrimary-white(type="button" data-dismiss="modal") Register
