.container
  //- .h2 Modal Example
  //- button#modal-button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#myModal") Open Modal
  div#myPostModal.modal.fade(role="dialog")
    div.modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title create a new post
        .modal-body
          //- input#postPhoto.form-input.form-control.input-md(required data-parsley-minlength="2" data-parsley-trigger="focusout" type="text" placeholder="filename here")
          form(id="uploadForm" enctype="multipart/form-data" action="/nopes" method="POST")
            //- div.input-group
            //-   span#upload-photo-from-computer.input-group-btn
            //-     span.btn.uploadButton
            //-         p.pull-left.marginRight-lg Upload Image From Computer
            input(type="file" name="file" )
            //- input.form-control(type="text" readonly)
            input.form-input.form-control.input-lg(required data-parsley-minlength="2" data-parsley-trigger="focusout" name="caption" type="text" placeholder="comment on post")
            button.modalButton.btn-lg.textPrimary-white(id="nope-submit" type="submit" ) Submit
            //- .modal-footer

