.postContainer.col-xs-12.paddingBottom-xl.textPrimary-gray
  .postTop.col-xs-12.paddingTop-sm
    .col-xs-8.pull-left
      .profilePicPosts.col-xs-6
      .username.col-xs-6
        p #{username}
    .col-xs-4.pull-right
        i.fa.fa-flag-o.fa.fa-2x.paddingRight-sm.col-xs-5
        i.fa.fa-bomb.fa.fa-2x.col-xs-5
  .postImage.col-xs-12
    img(src=picture)
  .postFooter.col-xs-12.paddingTop-sm
    i.fa.fa-bomb.fa.fa-2x.col-xs-2.pull-left
    .postComment.textPrimary-gray.col-xs-8
      p #{caption}
