h1 Become a User and let the noping begin
form(name="new-user")
  p Name:
  input(type="text", name="name")
  p Username:
  input(type="text", name="userName")
  p Email:
  input(type="text", name="email")
  p Bio:
  input(type="text", name="Bio")
  p Profile picture:
  input(type="text", name="profilePic")

