extends layout
block main
  .row
    .user-profile-container.textPrimary-white.backgroundPrimary-color.col-xs-12
      i.fa.fa-camera-retro.fa-2x.faa-tada.animated-hover(type="button" data-toggle="modal" data-target="#myUserModal")
include modal-form-update-user-profile
