extends layout
block main
  .row
    .user-profile-container.backgroundPrimary-color.col-xs-12
      div#user-feed-text-carousel.textPrimary-white.col-xs-11.col-xs-offset-1.col-sm-8.col-sm-offset-2.paddingBottom-xl
          #user-feed-frown.fa.fa-frown-o.fa-4x.col-xs-12.col-sm-2.paddingBottom-lg
          h3.col-xs-12.col-sm-10 we don't really want to see your engagement photos in an italian villa.
      .user-profile-posts.col-xs-12.col-sm-8.col-sm-offset-2
        .user-profile-posts.col-xs-12
          include posts-template
        //- This is where the user posts will populate
    div.space.col-xs-12.backgroundPrimary-color.paddingVertical-xl
    include modal-form-update-user-profile
