extends layout
block main
  .row
    .user-profile-container.textPrimary-white.backgroundPrimary-color.col-xs-12
      div#whitenoise.col-xs-12.col-sm-8.col-sm-offset-2
        h5 shhh... just close your eyes
      .user-profile-posts.textPrimary-white.col-xs-10.col-xs-offset-2.col-sm-8.col-sm-offset-2
  audio(preload="auto" autoplay="true" loop="true" autobuffer)
    source(src="/sounds/03-White-Noise-10min.mp3")
  //- embed(src="/sounds/03-White-Noise-10min.mp3" autostart="true" loop="true" hidden="true")
  //- a(href="/sounds/03-White-Noise-10min.mp3")
//- TO DO: Add a link to white noise
//- audio(src="YOUR LINK" autoplay loop)

