extends layout
block main
  .row
    .user-profile-container.textPrimary-white.backgroundPrimary-color.col-xs-12
      div#whitenoise.col-xs-12.col-sm-8.col-sm-offset-2
        h5 shhh... just close your eyes
      .user-profile-posts.textPrimary-white.col-xs-10.col-xs-offset-2.col-sm-8.col-sm-offset-2
//- TO DO: Add a link to white noise
//- audio(src="YOUR LINK" autoplay loop)

